.media-buttons-control {
 -fx-background-color: #3E3E3E;
}

.media-player-button {
 -fx-background-color: #3E3E3E;
}

.playlist-block-container {
  -fx-padding: 3px;
  -fx-spacing: 5px;
}

.now-playing-panel {
 -fx-background-color: #3E3E3E;
 -fx-border-width: 2 0 1 0;
 -fx-border-style: solid;
 -fx-border-color: #A5AEAD;
}

.now-playing-panel-label {
 -fx-text-fill: #D8E6E4;
}

.playlist-browser-container {
 -fx-background-color: #747474;
 -fx-border-color: #A0A0A0;
 -fx-border-insets: 0;
 -fx-border-width: 1;
 -fx-border-style: solid;
}

.playlist-container {
 -fx-background-color: #6E6E6E;
}

.tab-pane-item {
 -fx-padding: 3px 12px 3px 12px;
 -fx-font-size: 12px;
 -fx-font-weight: bold;
}

.playlist-browser-control-button {
 -fx-padding: 3px 10px 3px 10px;
}

.extra-panels-tab-pane {
 -fx-background-color: #747474;
}

.tab-header-background {
 -fx-background-color: #B9B9B9;
}

.tab-pane .tab {
 -fx-background-color: #D5D5D5;
}

.tab-pane .tab:selected {
 -fx-background-color: #747474;
}

.tab .tab-label {
 -fx-text-fill: #6D6D6D
}

.tab:selected .tab-label {
 -fx-text-fill: #D8E6E4;
}
