target/*
.idea/*
mediaplayer-app-configuration.xml
lastfm-api-account.info
AppConfigurationServiceManuallyTestResult.xml
src/main/resources/lastfm.properties
src/main/resources/deezer.properties
playlists/
logs/
export/